.section{
    height: 100vh;
    box-shadow: inset 0 0 25em 20em #000;
    position: relative;
    background-size: cover;

    &__float-left-bg-holder{
        position: absolute;
        width: 50%;
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
        background-position: center center;
        background-size: cover;
    }
}


.section--header{

}

.section--service{
    
}

.section--testimonial{

}